# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
arni/

# Environment Variables
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/
*.egg-info/

# Chroma DB / Vector DB
chroma/
*.sqlite3